body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color: #FFFF;
    background: -webkit-linear-gradient(121deg, #6b4433, #622d2e, #54172f, #3d0634, #180238);
    background: linear-gradient(121deg, #6b4433, #622d2e, #54172f, #3d0634, #180238);

}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100vw;
    transition: transform 0.3s ease;

}
.menu-toggle {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 30px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.navebar{
    display: flex;
    position: fixed;
    height: 120px;
    width: 100vw;
    background-color: black;
    justify-content: flex-end;
    border-radius: 0px 0px 40px 40px;
}

#img_icon{
    width: auto;
    height: auto;
}

.navebar img{
    padding-right: 20px;
    height: 90px;
    width: 150px;
}

.navebar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-right: 40px;
}

.navebar li{
    display: inline-flex;
    white-space: nowrap;
    height: auto;
    width: auto;
    list-style: none; 
}

.navebar div{
    color: #fff;
}

.navebar a{
    text-decoration: none;
}

.navebar #title_nav{
    font-family: "Roboto", serif;
}

.navebar span{
    font-size: 1.5vw;
    color: aliceblue;
}


@media (max-width: 600px) {
    .navebar {
        display: none;
        
    }
    .foto.active{
        display: none;
    }
    .navebar img{
        display: none;
    }

    .navebar.active {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        justify-content: center;
    }
    .navebar ul{
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 50px;
        
    }

    .navebar span{
        font-size: 5vw;
        color: aliceblue;
    }

    .navebar_cel{
        display: block;
        background-color: #180238;
        height: 7em;
        

    }

    .navebar_cel .img_logo img{
        height: 6em;
        padding-left: 50%;
    }

    .menu-toggle{
        display: block;
    }
  }